﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="VirtualiaMain.master.vb" Inherits="Virtualia.Net.VirtualiaMain" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Virtualia.Net</title>
    <style type="text/css">
        body
        {
        	font-family: Trebuchet MS;
        	font-size: small;
            margin: 0;
            padding: 0;
        }
        .Marges
        {
            margin-top:1px;
            margin-bottom:5px;
        	text-align: center;
        	vertical-align: middle;
        	background-attachment: inherit;
        	background-color:#19968D;
        	width: 1150px;
        	border:none 1px #00CCFF;
        }
        .IE8Fix  
        {
        	z-index : 100;
        }     	
    </style>
    
    <asp:ContentPlaceHolder id="HeadMaster" runat="server">
        
    </asp:ContentPlaceHolder>
    
</head>
<body style="background-color: #216B68">
    <form id="VirtualiaMainMaster" runat="server" >
    <div>
        <asp:ScriptManager ID="ScriptManagerMaster" runat="server" EnablePartialRendering="true" AsyncPostBackTimeout="180"  >
        </asp:ScriptManager>
        <asp:ContentPlaceHolder ID="HautdePage" runat="server">
           <asp:UpdatePanel ID="UpdatePanelHaut" runat="server">
             <Triggers>
                 <asp:AsyncPostBackTrigger ControlID="HorlogeVirtuelle" />
             </Triggers>
             <ContentTemplate>
               <asp:Table ID="CadreHeader" runat="server" HorizontalAlign="Center">
                    <asp:TableRow>
                        <asp:TableCell HorizontalAlign="Left">
                            <asp:ImageButton ID="ImageLogo" runat="server" Width="64px" Height="64px" 
                                             BorderStyle="Solid" BorderColor="#B0E0D7" BorderWidth="1px"
                                             ImageUrl="~/Images/General/VirImag_BleuVert.jpg" ImageAlign="Middle">
                            </asp:ImageButton>
                        </asp:TableCell>
                        <asp:TableCell>
                            <asp:Table ID="CadreEntete" runat="server" Height="64px" Width="1075px" CellSpacing="0" CellPadding="0">
                                <asp:TableRow>
                                    <asp:TableCell ColumnSpan="4" HorizontalAlign="Left">
                                        <asp:Label ID="EtiTitreL1" runat="server" BackColor="Transparent" 
                                            Font-Names="Times New Roman" Font-Size="X-Large" ForeColor="White"
                                            Text="Virtualia.Net" Width="800px" 
                                            Font-Italic="true" Font-Bold="true" style="margin-left:10px;vertical-align: top"></asp:Label>
                                    </asp:TableCell>
                                </asp:TableRow>
                                <asp:TableRow>
                                    <asp:TableCell HorizontalAlign="Left">
                                        <asp:Label ID="EtiTitreL2" runat="server" BackColor="Transparent" 
                                            Font-Names="Times New Roman" Font-Size="X-Large" ForeColor="White"
                                            Text="Version 4.0" Width="600px" 
                                            Font-Italic="true" Font-Bold="false" style="margin-left:10px;vertical-align: top"></asp:Label>
                                    </asp:TableCell>
                                    <asp:TableCell HorizontalAlign="Left" Width="150px"> 
                                        <asp:Label ID="EtiUtilisateur" runat="server" BackColor="Transparent" 
                                                    Font-Names="Trebuchet MS" Font-Size="Small" ForeColor="#B0E0D7"
                                                    Text="" Height="15px" Width="200px" Font-Bold="False" Font-Italic="true"
                                                    style="margin-right: 5px; text-align:right">
                                        </asp:Label>
                                    </asp:TableCell>
                                    <asp:TableCell HorizontalAlign="Right" Width="150px"> 
                                        <asp:Label ID="EtiDateJour" runat="server" BackColor="Transparent" 
                                                    Font-Names="Trebuchet MS" Font-Size="Small" ForeColor="#B0E0D7"
                                                    Text="" Height="15px" Width="200px" Font-Bold="False" Font-Italic="true"
                                                    style="margin-right: 5px;">
                                        </asp:Label>
                                    </asp:TableCell>
                                    <asp:TableCell HorizontalAlign="Right" Width="30px"> 
                                        <asp:Label ID="EtiHeure" runat="server" BackColor="Transparent" 
                                                    Font-Names="Trebuchet MS" Font-Size="Small" ForeColor="#B0E0D7"
                                                    Text="" Height="15px" Width="30px" Font-Bold="False" Font-Italic="true"
                                                    style="margin-right: 5px;">
                                        </asp:Label>
                                    </asp:TableCell>
                                </asp:TableRow>
                            </asp:Table>
                        </asp:TableCell>
                    </asp:TableRow>
                </asp:Table>
            </ContentTemplate>
          </asp:UpdatePanel>
       </asp:ContentPlaceHolder>
        
       <asp:Timer ID="HorlogeVirtuelle" runat="server" Interval="60000"></asp:Timer>

       <asp:ContentPlaceHolder id="InfoGenMaster" runat="server">
            <asp:Table ID="CadreInfoGen" runat="server" CssClass="Marges" HorizontalAlign="Center">
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Left" Width="350px"> 
                        <asp:Label ID="EtiInfoN1" runat="server" BackColor="Transparent" 
                                    Font-Names="Trebuchet MS" Font-Size="Small" ForeColor="#124545"
                                    Text="" Height="15px" Width="120px" Font-Bold="False" Font-Italic="true"
                                    style="margin-right: 10px;">
                        </asp:Label>
                    </asp:TableCell>
                    <asp:TableCell HorizontalAlign="Left" Width="350px"> 
                        <asp:Label ID="EtiInfoN2" runat="server" BackColor="Transparent" 
                                    Font-Names="Trebuchet MS" Font-Size="Small" ForeColor="#124545"
                                    Text="" Height="15px" Width="240px" Font-Bold="False" Font-Italic="true"
                                    style="margin-right: 10px;">
                        </asp:Label>
                    </asp:TableCell>
                    <asp:TableCell HorizontalAlign="Left" Width="300px"> 
                        <asp:Label ID="EtiInfoN3" runat="server" BackColor="Transparent" 
                                    Font-Names="Trebuchet MS" Font-Size="Small" ForeColor="#124545"
                                    Text="" Height="15px" Width="280px" Font-Bold="False" Font-Italic="true"
                                    style="margin-right: 10px;">
                        </asp:Label>
                    </asp:TableCell>
                </asp:TableRow>
            </asp:Table>
        </asp:ContentPlaceHolder>
        
        <asp:ContentPlaceHolder ID="CorpsMaster" runat="server">
        </asp:ContentPlaceHolder>
                
        <asp:ContentPlaceHolder ID="PieddePageMaster" runat="server"> 
          <asp:table ID="TableDroits" runat="server" CellPadding="1" CellSpacing="0"
                     height="10px" Width="1150px" HorizontalAlign="Center">
            <asp:TableRow>
                <asp:TableCell HorizontalAlign="Center">
                    <asp:Label ID="Droits" runat="server" BackColor="Transparent" ForeColor="#B0E0D7"
                        Font-Names="Trebuchet MS" Font-Size="X-Small" Font-Bold="false" BorderStyle="None"
                        Text="Copyright@1992-2016 Virtualia - Gestion visuelle des ressources humaines (Version 4)" Width="1150px"
                        style="margin-top:5px">
                    </asp:Label>
                </asp:TableCell>
            </asp:TableRow> 
          </asp:table>
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
